@import url("https://fonts.googleapis.com/css?family=Roboto");
@font-face {
  font-family: wasatsh;
  src: url("./font/Wasatsh.otf") format("opentype"),
    /* Modern Browsers */ url("./font/Wasatsh.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: syabab;
  src: url("./font/Syabab.ttf") format("truetype"); /* Safari, Android, iOS */
}
body {
  background: #fff;
  font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
}
.col-3 {
  padding: 0;
}
.col-9 {
  padding: 0;
}
::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #06b79a;
}
.row {
  margin: 0px;
}
.sehad_navbar {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 200;
  background: transparent;
  box-shadow: none;
}

.sehad_logo {
  width: auto;
  height: 40px;
  border: none;
  /* border-radius: 30px; */
  margin: 5px;
  position: absolute;
  right: 70px;
  top: 0px;
}

.about_sehad {
  background-image: url("./img/about.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  padding-left: 100px;
}

.menu_right {
  position: absolute;
  z-index: 999;
  right: 0px;
}
.menu_content {
  background: #fff !important;
  width: 70%;
  margin-left: calc(15% - 50px);
  margin-right: 15%;
  position: absolute;
  bottom: -20px;
  box-shadow: -2px 3px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.sehad_btn_rm {
  width: 60px;
  height: 60px;
  border: 1px solid #3b3b3b;
  background: rgb(62, 62, 62);
  color: #ffffff;
}
.sehad_btn__menu {
  border: none;
  text-transform: uppercase;
  background: #06b79a;
  margin-right: 20px;
  margin-top: 7px;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.sehad_btn__menu:hover {
  background: #3b3b3b;
}
.sehad_rightbar {
  width: 120px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  height: 55px;
  z-index: 90;
  padding: 5px 0px;
}
.sehad_leftbar__accent {
  width: 4px;
  height: 20vh;
  bottom: 0px;
  left: 25px;
  padding-top: 7px;
  position: fixed;
  background: #7c7c7c;
  z-index: 2;
}
.sehad_leftbar {
  width: 55px;
  height: 24vh;
  bottom: 0px;
  left: 0px;
  padding-top: 7px;
  position: fixed;
  z-index: 3;
}
.sehad_leftbar > ul.nav li {
  float: left;
  height: 100%;
  background: #7c7c7c;
  height: 25px;
  width: 25px;
  margin: 10px 15px;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 20px;
  z-index: 20;
}
.sehad_leftbar > ul.nav li:hover {
  background: #06b79a;
}
.sehad_leftbar > ul.nav a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  z-index: 99;
  text-align: center;
  margin: auto;
}
.rightbar_up {
  border: none;
  text-transform: uppercase;
  background: #3b3b3b;
  margin-right: 20px;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 25px;
  color: #fff;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.rightbar_up:hover {
  background: #06b79a;
}
.rightbar_down:hover {
  background: #06b79a;
  color: #fff;
}
.rightbar_down {
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background: #fff;
  margin-right: 20px;
  border-radius: 5px;
  width: 40px;
  height: 39px;
  text-align: center;
  font-size: 25px;
  color: #3b3b3b;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.3);
}
.two-top {
  width: 100px;
  z-index: 150;
  height: 10px;
  position: fixed;
  background: #06b79a;
  left: 30px;
  top: 245px;
  border-radius: 5px;
}
.bigmenu {
  position: fixed;
  top: 60px;
  width: calc(100% - 60px);
  height: calc(100vh - 90px);
  background: rgb(247, 247, 247);
  z-index: 100;
}
.isi_menu {
  width: 20%;
  border-bottom: 1px solid #7c7c7c;
  max-height: 40%;
  margin-right: 30px;
  cursor: pointer;
}
.isi_menu i {
  color: #7c7c7c;
  font-size: 40px;
  margin-bottom: 20px;
}
.title_about {
  font-family: "Syabab";
  font-size: 55px;
  z-index: 20;
  text-align: left;
  margin-top: 100px;
  font-weight: 200;
  color: #fff;
}
.article_sehad {
  padding: 60px;
  font-size: 15px;
  padding-left: 75px;
}
.article_sehad > .review {
  width: 100%;
}
.article_sehad > .review > .foto {
  padding-top: 70px;
  position: relative;
  width: 33%;
  float: right;
  margin: 20px 0px 20px 40px;
  background: #fff;
}
.article_sehad .foto > img {
  width: 100%;
}
.article_sehad > .review > h1 {
  text-align: left;
  font-weight: 400;
  font-size: 40px;
}
.article_sehad p {
  text-align: justify;
}
.subtitle_about {
  color: #fff;
  font-weight: 300;
  font-size: 20px;
  position: relative;
  top: -80px;
  left: -10px;
  text-transform: lowercase;
}
.title_about__x {
  background: #06b79a;
  width: 200px;
  height: 20px;
  border-radius: 10px 0px 10px 10px;
  position: relative;
  top: -100px;
  left: 455px;
  z-index: 2;
}
.dec_i {
  width: 25%;
  background: #3b3b3b;
  height: 100vh;
  position: fixed;
  top: 0;
}
.title_about__y {
  background: #06b79a;
  width: 80px;
  height: 30px;
  border-radius: 15px 0px 15px 15px;
  position: relative;
  top: -93px;
  left: 575px;
}
.br-n {
  font-family: "Syabab";
  text-decoration: underline;
  text-decoration-color: #06b79a;
  font-weight: 600;
}
.isi_menu h5 {
  font-size: 13px;
  color: #7c7c7c;
  margin-bottom: 30px;
}
.isi_menu a:hover {
  text-decoration: none;
}
.isi_menu:hover {
  border-bottom: 4px solid #06b79a;
}
.bigmenu_title {
  /* text-transform: uppercase; */
  font-weight: 200;
  font-size: 30px;
  text-decoration: underline;
  text-decoration-color: #06b79a;
  text-decoration-line: underline;
  background: none;
  width: 90%;
  text-align: left;
  margin-left: 10%;
  color: #3b3b3b;
}
.bigmenu_title:hover {
  text-decoration-style: wavy;
}
.bigmenu_isi {
  border-left: 1px solid #d8d8d8;
  padding-left: 15%;
  padding-top: 15%;
}
.col-8 {
  padding: 0 !important;
}
.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.one-top {
  width: 100px;
  z-index: 150;
  height: 10px;
  position: fixed;
  background: #6eb9f7;
  left: 10px;
  top: 230px;
  border-radius: 5px;
}
.sehad__container {
  width: calc(100% - 60px);
  height: calc(100vh - 90px);
  margin-top: 60px;
  margin-left: 60px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: -2px 3px 7px 5px rgba(0, 0, 0, 0.2);
}
.sehad__content {
  width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  background: #fff;
  /* padding: 0px 50px 5px; */
  z-index: 4;
  color: rgb(62, 62, 62);
}
.ct_subtitle {
  font-style: italic;
  font-size: 15px;
  font-weight: 300;
}
.ct_title {
  font-size: 1.6rem;
  font-weight: 700;
  color: #027e69;
  margin: 0px;
}
.ct-info > table {
  width: 100%;
  border: 1px solid #fbfbfb;
}
.ct-info {
  width: 80%;
  margin: auto;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  padding: 15px 15px;
  height: 200px;
  margin-top: -85px;
}
.sehad__content > .ct_img {
  color: #fbfbfb;
  width: calc(100% + 100px);
  height: 60%;
  background-size: cover;
  background-repeat: none;
  background-position: center;
  background-attachment: fixed;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  margin-left: -50px;
  z-index: 9;
}
.artrev > h2 {
  font-size: 25px;
  width: 70%;
  background: #027e69;
  padding: 5px;
  color: #fff;
}
.artrev > p {
  padding-left: 30px;
}
.artrev > h3 {
  width: 60%;
  margin-left: 30px;
  font-size: 20px;
  background: #3b3b3b;
  padding: 5px;
  color: #fff;
}
.artrev > ul {
  padding-left: 45px;
}
.sehad__content p {
  text-align: justify;
}
.sehad__chatbot {
  text-align: center;
  width: 30%;
  background: #e7e7e7;
  height: 100%;
}

/* chatbot */

* {
  font-family: "Roboto", sans-serif;
}
html,
body {
  font-size: 16px;
}

section#demo {
  background: #fbfbfb;
  position: relative;
  padding: 0;
  min-height: 100%;
  transition: height 9999s;
}
.vertical-align {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 100%;
}
.card {
  background: #fff;
  box-shadow: 13px 13px 28px 2px rgba(0, 0, 0, 0.035);
  padding: 7px 15px;
  height: 100%;
}
/* sitemap */

.sitemap {
  position: fixed;
  left: -400px;
  width: 400px;
  height: 100vh;
  z-index: 300;
  background: #3b3b3b;
  color: #fff;
  top: 0;
  line-height: 3;
  padding: 100px 20px 0px;
  transition: left 0.5s linear;
}
.btn-content {
  width: 90%;
  margin: 5px 5%;
  background: #06b79a;
  color: #fff;
}
.buttonsitemap {
  position: fixed;
  background: #3b3b3b;
  top: 50vh;
  z-index: 300;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: #fff;
  left: 0px;
  border: none;
  transition: left 0.5s linear;
}
.blursite {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #3b3b3b;
  z-index: 299;
  opacity: 0.7;
  display: none;
  transition: opacity 1s linear;
}
.sitemap ul {
  text-indent: 0.5em;
  list-style: none;
  border-left: 0.25em solid gold;
}
.sitemap li:after {
  width: 2px;
  background: #fff;
  height: 2px;
}
.sitemap ul ul {
  margin-top: -1.25em;
}

.sitemap li {
  position: relative;
  bottom: -1.25em;
}
.sitemap a:hover {
  cursor: pointer;
}
.sitemap a {
  position: relative;
  left: -2.5em;
  text-decoration: underline;
  text-decoration-line: underline;
}
.sitemap li:before {
  content: "";
  display: inline-block;
  width: 2.95em;
  height: 0;
  position: relative;
  left: -3.2em;
  border-top: 0.25em solid gold;
}

.sitemap h3 {
  position: absolute;
  top: 2em;
  left: 1em;
}

.sitemap h3:before {
  left: -1.4em;
  top: 0em;
}
